<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Software_Inspector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Software_Inspector.Properties.Settings>
            <setting name="lastLaunchTime" serializeAs="String">
                <value>08/01/2010 15:23:00</value>
            </setting>
            <setting name="reportPeriod" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="userID" serializeAs="String">
                <value/>
            </setting>
            <setting name="computerID" serializeAs="String">
                <value/>
            </setting>
        </Software_Inspector.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
