body {
    margin: 0;
	padding: 0;
	font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.page {
    margin: 0 auto;
    width:800px;
	background:#ddf;

    /*background: yellow;*/
}

.login {
	float:right;
	padding:4px;
	background-color:#a00;
}

form{
	margin:0;
	padding:0;
}

.footer{
	clear:both;
	margin-top:40px;
	border-top: 1px solid white;
	padding:10px;
	text-align:center;
}

.soft_items {
	padding: 20px;
}

.soft_items ul{
	margin:0;
	padding:0;
	list-style:none;
}

.soft_items ul li{
	border: 1px solid transparent;
	padding:5px;
}

.soft_items ul li:hover{
	border: 1px solid gray;
}